services:
  s-pdf:
    image: frooodle/s-pdf:latest
    container_name: stirling-pdf
    restart: always
    ports:
      - 8080:8080
    volumes:
      - trainingData:/usr/share/tessdata
      - extraConfigs:/configs
      - logs:/logs
    environment:
      DOCKER_ENABLE_SECURITY: "false"
      INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "false"
      LANGS: en_GB

volumes:
  trainingData:
  extraConfigs:
  logs:
