services:
  s-pdf:
    image: frooodle/s-pdf:latest
    container_name: stirling-pdf
    restart: always
    volumes:
      - trainingData:/usr/share/tessdata
      - extraConfigs:/configs
      - logs:/logs
    environment:
      DOCKER_ENABLE_SECURITY: "false"
      INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "false"
      LANGS: en_GB
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.s-pdf.rule=Host(`pdf.ravil.space`)"
      - "traefik.http.routers.s-pdf.entrypoints=websecure"
      - "traefik.http.routers.s-pdf.tls.certresolver=cloudflare"
      - "traefik.http.services.s-pdf.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_default"
      - "traefik.http.routers.s-pdf.middlewares=oidc-auth@docker"

volumes:
  trainingData:
  extraConfigs:
  logs:

networks:
  default:
    name: s-pdf_default
  traefik:
    name: traefik_default
    external: true
