apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: external
  namespace: gateway
spec:
  gatewayClassName: cilium
  infrastructure:
    annotations:
      io.cilium/lb-ipam-ips: 192.168.1.222
  listeners:
    - protocol: HTTPS
      port: 443
      name: https-gateway
      hostname: "*.ravil.space"
      tls:
        certificateRefs:
          - kind: Secret
            name: cert-ravilspace
      allowedRoutes:
        namespaces:
          from: All
    - protocol: HTTPS
      port: 443
      name: https-gateway-k8s
      hostname: "*.k8s.ravil.space"
      tls:
        certificateRefs:
          - kind: Secret
            name: cert-ravilspace
      allowedRoutes:
        namespaces:
          from: All
    - protocol: HTTPS
      port: 443
      name: https-gateway-home
      hostname: "*.home.ravil.space"
      tls:
        certificateRefs:
          - kind: Secret
            name: cert-ravilspace
      allowedRoutes:
        namespaces:
          from: All