{
  "cloudflare": [
    {
      "authentication": {
        "api_token": "XXX"
      },
      "zone_id": "XXX",
      "subdomains": [
        {
          "name": "*",
          "proxied": false
        }
      ]
    }
  ],
  "a": true,
  "aaaa": false,
  "purgeUnknownRecords": false,
  "ttl": 300
}