tcp:
  routers:
    komodo-tcp-router:
      entryPoints:
        - websecure
      rule: >-
        HostSNIRegexp(`^.+\.test\.ravil\.space$`)
        || HostSNI(`paperless.ravil.space`)
        || HostSNI(`bytestash.ravil.space`)
        || HostSNI(`dozzle.ravil.space`)
        || HostSNI(`nextflux.ravil.space`)
        || HostSNI(`rsshub.ravil.space`)
        || HostSNI(`pdf.ravil.space`)
        || HostSNI(`n8n.ravil.space`)
        || HostSNI(`miniflux.ravil.space`)
        || HostSNI(`karakeep.ravil.space`)
        || HostSNI(`spotify.ravil.space`)
        || HostSNI(`spotify-server.ravil.space`)
      service: komodo-tcp-service
      priority: 100
      tls:
        passthrough: true

    k8s-tcp-router:
      entryPoints:
        - websecure
      rule: 'HostSNI("*")'
      service: k8s-tcp-service
      priority: 50
      tls:
        passthrough: true

  services:
    komodo-tcp-service:
      loadBalancer:
        servers:
          - address: "192.168.1.166:443"

    k8s-tcp-service:
      loadBalancer:
        servers:
          - address: "192.168.1.222:443"
