services:
  miniflux-db:
    image: postgres:18-alpine
    container_name: miniflux-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: miniflux
      POSTGRES_PASSWORD: ${MINIFLUX_DB_PASSWORD}
      POSTGRES_DB: miniflux
    volumes:
      - miniflux-db:/var/lib/postgresql/data

  miniflux:
    image: miniflux/miniflux:latest
    container_name: miniflux
    restart: unless-stopped
    depends_on:
      - miniflux-db
    environment:
      DATABASE_URL: postgres://miniflux:${MINIFLUX_DB_PASSWORD}@miniflux-db/miniflux?sslmode=disable
      RUN_MIGRATIONS: "1"
      CREATE_ADMIN: "1"
      ADMIN_USERNAME: ${MINIFLUX_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${MINIFLUX_ADMIN_PASSWORD}
      OAUTH2_PROVIDER: oidc
      OAUTH2_CLIENT_ID: ${MINIFLUX_OIDC_CLIENT_ID}
      OAUTH2_CLIENT_SECRET: ${MINIFLUX_OIDC_CLIENT_SECRET}
      OAUTH2_REDIRECT_URL: https://miniflux.ravil.space/oauth2/oidc/callback
      OAUTH2_OIDC_DISCOVERY_ENDPOINT: https://pocketid.ravil.space
      OAUTH2_USER_CREATION: "1"
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.miniflux.rule=Host(`miniflux.ravil.space`)"
      - "traefik.http.routers.miniflux.entrypoints=websecure"
      - "traefik.http.routers.miniflux.tls.certresolver=cloudflare"
      - "traefik.http.services.miniflux.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_default"

volumes:
  miniflux-db:

networks:
  default:
    name: miniflux_default
  traefik:
    name: traefik_default
    external: true
