pages:
  - name: Infrastructure
    columns:
      - size: small
        widgets:
          - type: monitor
            cache: 1m
            title: Core Infrastructure
            sites:
              - title: Proxmox
                url: https://proxmox.ravil.space
                allow-insecure: true
                icon: si:proxmox
                check-url: http://192.168.1.100:8006
              - title: Unifi
                url: https://unifi.ui.com
                check-url: http://192.168.1.1
                allow-insecure: true
                icon: si:ubiquiti
              - title: Pi-hole
                url: https://pi.hole/admin
                check-url: http://192.168.1.3/admin/login
                icon: si:pihole
              - title: Grafana
                url: https://grafana.ravil.space/d/IfgdXjtnk/proxmox-cluster-flux
                check-url: http://grafana.grafana.svc.cluster.local:3000
                icon: si:grafana
              - title: Dockge
                url: https://dockge.ravil.space
                check-url: http://dockge.dockge.svc.cluster.local:5001
                icon: si:docker
          - type: monitor
            cache: 1m
            title: Applications
            sites:
              - title: Home Assistant
                url: https://ha.ravil.space
                check-url: http://home-assistant.haos.svc.cluster.local:8123
                icon: si:homeassistant
              - title: Immich
                url: https://immich.ravil.space
                check-url: http://immich.immich.svc.cluster.local:2283
                icon: si:immich
              - title: Karakeep
                url: https://karakeep.ravil.space
                check-url: http://karakeep.karakeep.svc.cluster.local:3000
                icon: si:keras
              - title: ChangeDetection
                url: https://changedetection.ravil.space
                check-url: http://changedetection.changedetection.svc.cluster.local:5000
                icon: di:changedetection
              - title: Spotify
                url: https://spotify.ravil.space
                check-url: http://spotify.spotify.svc.cluster.local:3000
                icon: si:spotify
              - title: Bytestash
                url: https://bytestash.ravil.space
                check-url: http://bytestash.bytestash.svc.cluster.local:5000
                icon: si:databricks
              - title: Paperless
                url: https://paperless.ravil.space
                check-url: http://paperless.paperless.svc.cluster.local:8000
                icon: si:paperlessngx
              - title: Miniflux
                url: https://miniflux.ravil.space
                check-url: http://miniflux.miniflux.svc.cluster.local:8070
                icon: si:rss
              - title: NextFlux
                url: https://nextflux.ravil.space
                check-url: http://nextflux.nextflux.svc.cluster.local:8071
                icon: si:rss
              - title: RSSHub
                url: https://rsshub.ravil.space
                check-url: http://rsshub.rsshub.svc.cluster.local:1200
                icon: si:rssdotcom
          - type: monitor
            cache: 1m
            title: Productivity & AI
            sites:
              - title: OpenWebUI
                url: https://openwebui.ravil.space
                check-url: http://openwebui.openwebui.svc.cluster.local:8080
                icon: di:open-webui-light
              - title: Dify
                url: https://dify.ravil.space
                check-url: http://dify.dify.svc.cluster.local:80
                icon: si:openai
              - title: PDF Tools
                url: https://pdf.ravil.space
                check-url: http://pdf.pdf.svc.cluster.local:8080
                icon: si:adobeacrobatreader
              - title: IT Tools
                url: https://it-tools.ravil.space
                check-url: http://it-tools.it-tools.svc.cluster.local:80
                icon: di:it-tools-light
              - title: Glance
                url: https://glance.ravil.space
                same-tab: true
                icon: si:goodreads
      - size: full
        widgets:
          - type: videos
            style: grid-cards
            collapse-after-rows: 1
            channels:
              - UCOk-gHyjcWZNj3Br4oxwh0A # Techno Tim
              - UCZNhwA1B5YqiY1nLzmM0ZRg # Christian Lempa
              - UCUUTdohVElFLSP4NBnlPEwA # Jim's Garage
              - UCgdTVe88YVSrOZ9qKumhULQ # Hardware Haven
          - type: reddit
            subreddit: selfhosted
  - name: Development
    columns:
      - size: small
        widgets:
          - type: calendar
          - type: clock
            hour-format: 24h
            timezones:
              - timezone: Europe/Berlin
                label: Berlin
              - timezone: Europe/Moscow
                label: Moscow
          - type: weather
            location: "Berlin, Germany"
          - type: markets
            markets:
              - symbol: SPY
                name: S&P 500
              - symbol: BRYN.BE
                name: Berkshire Hathaway
              - symbol: BTC-USD
                name: Bitcoin
              - symbol: DHER.DE
                name: Delivery Hero
      - size: full
        widgets:
          - type: rss
            title: Big Tech
            collapse-after: 5
            feeds:
              - url: https://netflixtechblog.medium.com/feed
                title: Netflix TechBlog
              - url: https://engineering.atspotify.com/feed
                title: Spotify Engineering
              - url: https://dropbox.tech/feed
                title: Dropbox Tech Blog
              - url: https://www.uber.com/en-DE/blog/berlin/engineering/rss/
                title: Uber Engineering
                headers:
                  accept: "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
          - type: rss
            title: Personal
            collapse-after: 5
            feeds:
              - url: http://feeds.feedburner.com/HighScalability
                title: High Scalability
              - url: https://blog.stonegarden.dev/index.xml
                title: Vegard S. Hagen
              - url: https://smcleod.net/posts/index.xml
                title: Sam McLeod
          - type: hacker-news
      - size: small
        widgets:
          - type: rss
            title: GitHub Trending
            thumbnail-height: 100
            collapse-after: 5
            feeds:
              - url: https://mshibanami.github.io/GitHubTrendingRSS/weekly/all.xml
                title: GitHub Trending All
  - name: Golang
    columns:
      - size: full
        widgets:
          - type: rss
            title: Go Ecosystem
            collapse-after: 5
            feeds:
              - url: https://golangweekly.com/rss/1bq6k6i2
                title: Golang Weekly
              - url: https://blog.golang.org/feed.atom
                title: Go Blog
              - url: https://go.dev/blog/feed.atom
                title: Go.dev Blog
              - url: https://antonz.ru/rss/
                title: Anton Zhiyanov
              - url: https://www.ardanlabs.com/blog/index.xml
                title: Ardan Labs
              - url: https://dave.cheney.net/feed
                title: Dave Cheney
              - url: https://threedots.tech/index.xml
                title: Three Dots
          - type: reddit
            subreddit: golang
      - size: full
        widgets:
          - type: lobsters
            sort-by: hot
            tags:
              - go
            limit: 15
            collapse-after: 5
          - type: rss
            title: GitHub Trending Go
            thumbnail-height: 100
            collapse-after: 5
            feeds:
              - url: https://mshibanami.github.io/GitHubTrendingRSS/weekly/go.xml
                title: GitHub Trending Go
              - url: https://mshibanami.github.io/GitHubTrendingRSS/daily/go.xml
                title: GitHub Trending Go (Daily)
