machine:
  network:
    hostname: ${hostname}
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
  kubelet:
    extraArgs:
      rotate-server-certificates: true
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}