services:
  bytestash:
    image: ghcr.io/jordan-dalby/bytestash:latest
    restart: always
    volumes:
      - bytestash_data:/data/snippets
    environment:
      BASE_PATH: ""
      JWT_SECRET: ${BYTESTASH_JWT_SECRET}
      TOKEN_EXPIRY: 24h
      ALLOW_NEW_ACCOUNTS: "false"
      DEBUG: "true"
      DISABLE_ACCOUNTS: "false"
      DISABLE_INTERNAL_ACCOUNTS: "false"
      OIDC_ENABLED: "true"
      OIDC_DISPLAY_NAME: Pocket ID
      OIDC_ISSUER_URL: https://pocketid.ravil.space
      OIDC_CLIENT_ID: ${BYTESTASH_OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${BYTESTASH_OIDC_CLIENT_SECRET}
      OIDC_SCOPES: openid profile email
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bytestash.rule=Host(`bytestash.ravil.space`)"
      - "traefik.http.routers.bytestash.entrypoints=websecure"
      - "traefik.http.routers.bytestash.tls.certresolver=cloudflare"
      - "traefik.http.services.bytestash.loadbalancer.server.port=5000"
      - "traefik.docker.network=traefik_default"
      - "traefik.http.routers.bytestash.middlewares="

volumes:
  bytestash_data:

networks:
  default:
    name: bytestash_default
  traefik:
    name: traefik_default
    external: true
